a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: #eeefee;
  font-family: sans-serif;
}

.input-container {
  width: 100%;
  padding: 12px 10px;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .input-container {
    width: 500px;
  }
}

.filter-label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

#srl-filter-input {
  width: 100%;
  font-size: 16px;
  padding: 8px 12px;
}

.search-results {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0px 20px 16px 20px;
  box-sizing: border-box;
  background: white;
}

@media (min-width: 1024px) {
  .search-results {
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .input-container {
    width: 500px;
  }
}

.results-header {
  font-size: 20px;
  margin: 18px 0px 12px 0px;
}

.guide-results {
  columns: 2;
}

.guide-result {
  margin: 8px 0px;
}

.form-results {
  /*columns: 2;*/
}

.form-result {
  margin: 12px 0px;
}

.form-number {
  font-size: 12px;
  margin-bottom: 3px;
}