#homeBanner	 {
	position: relative;
	background-repeat: no-repeat;
	background-position: right;
	background-image: url(/images/banner-homeBanner.png), -webkit-linear-gradient(top, rgb(127, 148, 175) 0%, rgb(180, 192, 208) 45%, rgb(237, 240, 245) 86%, rgb(252, 252, 254) 100%);
	background-image: url(/images/banner-homeBanner.png), -o-linear-gradient(top, rgb(127, 148, 175) 0%, rgb(180, 192, 208) 45%, rgb(237, 240, 245) 86%, rgb(252, 252, 254) 100%);
	background-image: url(/images/banner-homeBanner.png), -ms-linear-gradient(top, rgb(127, 148, 175) 0%, rgb(180, 192, 208) 45%, rgb(237, 240, 245) 86%, rgb(252, 252, 254) 100%);
	background-image: url(/images/banner-homeBanner.png), -moz-linear-gradient(top, rgb(127, 148, 175) 0%, rgb(180, 192, 208) 45%, rgb(237, 240, 245) 86%, rgb(252, 252, 254) 100%);
	background-image: url(/images/banner-homeBanner.png), linear-gradient(to bottom, rgb(127, 148, 175) 0%, rgb(180, 192, 208) 45%, rgb(237, 240, 245) 86%, rgb(252, 252, 254) 100%);
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #homeBanner {
        background-position: -530px 0px;
    }
}

.titleWrap {
    left: 0 !important;
    padding: 0 20px;
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .titleWrap {
        top: 30px !important;
        margin-right: 310px !important;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .titleWrap {
        top: 30px !important;
        margin-right: 0 !important;
    }
}

.tab-content {
}

.tab-content > .tab-pane {
    float: left;
}

.tab-content > .tab-pane > .leftSide {
	float: left;
}

.tab-content > .tab-pane > .leftSide > .itemData	 			{
}

.tab-content > .tab-pane > .leftSide > .itemData .icon		{
	float: left;
}

.tab-content > .tab-pane > .leftSide > .itemData .txtarea	{
	float: left;
}

.tab-content > .tab-pane > .leftSide > .itemData  .txtarea a {
	text-decoration: none;
}

.tab-content > .tab-pane > .leftSide > .itemData  .txtarea a:visited {
	text-decoration: none;
	color: rgb(7,56,115);
}

.tab-content > .tab-pane > .leftSide > .itemData  .txtarea a:hover {
	text-decoration: underline;
}

.tab-content > .tab-pane > .rightSide {
	float: left;
}

.tab-content > .tab-pane > .rightSide > h3		{
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	color: rgb(68,68,68);
}

.tab-content > .tab-pane > .rightSide > ul		{
	list-style: none;
	list-style-image: none;
}

.tab-content > .tab-pane > .rightSide li		{
	border-bottom-style: solid;
	border-bottom-color: rgb(217,217,217);
	background: none;
}

.tab-content > .tab-pane > .rightSide li a {
	text-decoration: none;
}

.tab-content > .tab-pane > .rightSide li a:visited {
	text-decoration: none;
	color: rgb(7,56,115);
}

.tab-content > .tab-pane > .rightSide li a:hover {
	text-decoration: underline;
}

.storyPanels {
	float: left;
}
.storyPanels .storyPanel	{
	float: left;
	color: rgb(3,51,51);	
}

.storyPanels .lastStory { 
}

.storyPanels .storyPanel a {
	text-decoration: none;
}

.storyPanels .storyPanel a:hover {
	text-decoration: underline;
}

.storyPanels .storyPanel .storyPanelItem,  .storyPanelItem {
    margin-bottom: 2em;
}

#rightPanel .storyPanelItem {
    font-size: 1.2em;
}

.storyPanelItem .date	{
    margin-bottom: 6px;
    font-size: 0.78em;
}

.storyPanels .storyPanel .storyPanelItem a {
	text-decoration: none;
}

.storyPanels .storyPanel .storyPanelItem a:hover {
	text-decoration: underline;
}

.storyPanels .storyPanel .storyPanelItem p	{
}

.OCIs {
	float: left;
}
.OCIs .OCI	{
	float: left;
	color: rgb(3,51,51);
}

.OCIs .lastStory { 
}

.OCIs .OCI h2	{
	border-style: solid;
    border-color: rgb(204,204,204);
    color: rgb(68,68,68);	
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
}

.OCIs .OCI a {
	text-decoration: none;
}

.OCIs .OCI a:hover {
	text-decoration: underline;
}

.OCIs .OCI .OCIItem	{
}

.OCIs .OCI .OCIItem .date	{
}

.OCIs .OCI .OCIItem a {
	text-decoration: none;
}

.OCIs .OCI .OCIItem a:hover {
	text-decoration: underline;
}

.OCIs .OCI .OCIItem h3	{
	font-weight: bold;
}

.OCIs .OCI .OCIItem p	{
}

.socialMedia	{
	color: rgb(3,51,51);
	text-align: center;
}

.socialMedia h2	{
	border-style: solid;
    border-color: rgb(204,204,204);
    color: rgb(68,68,68);	
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
}

.socialMedia a {
	text-decoration: none;
}

.socialMedia a:hover {
	text-decoration: underline;
}

.socialMedia .inner	{
}

.socialMedia .inner .date	{
}

.socialMedia .inner a {
	text-decoration: none;
}

.socialMedia .inner a:hover {
	text-decoration: underline;
}

.socialMedia .inner h3	{
	font-weight: bold;
}

.socialMedia .inner p	{
}

.home-mainSection .home-h2 {
    margin: 12px 0 !important;
    padding-bottom: 3px !important;
    border-bottom: 1px solid #073873 !important;
    color: #073873 !important;
}

.home-mainSection .home-h3, .home-mainSection .storyPanelItem h3 {
    margin-top: 0;
}

.title-chiefstatement {
    font-size: 1.1em;
    font-weight: 600 !important;
}

.home-mainSection .courtLocations {
    margin: 0;
    padding: 0;
}

.home-mainSection .courtLocations .inner h2,
.home-mainSection .courtLocations .inner h3 {
    margin: 0 0 0.2em !important;
}
/* END Adjust court locations styling for home page */


/* Twitter embed adjustments that are configurations */
iframe[id^='twitter-widget-0'] {
    margin: 10px 0 !important;
    width: 98% !important;
}