.jcc-forms-filter__input, .jcc-forms-filter__mobile-input {
  background-position-y: 0.3rem;
  background-position-x: 0.3rem;
  background-size: 1.8rem;
  background-image: url(../images/icomoon/SVG/search.svg);
  background-repeat: no-repeat;
  padding-left: 2.4rem;
}

.jcc-forms-filter__mobile-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
}

.jcc-forms-filter__search-results {
  margin-top: 20px;
}

.jcc-forms-filter__results-container {
  background: white;
  border-radius: 4px;
  margin-top: 20px;
  color: #333;
  max-width: 100%;
}

.jcc-forms-filter__more-results-button-container {
  text-align: center;
  padding: 8px;
}

.jcc-forms-filter__loading {
  padding: 10px 20px;
}

.jcc-forms-filter__results-header {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.jcc-forms-filter__no-results {
  padding: 10px 20px;
  text-align: center;
}

.jcc-forms-filter__category-results {
  @media (min-width: 992px) {
    display: flex;
  }
}

.jcc-forms-filter__category-result-column {
  width: 100%;
  
  @media (min-width: 992px) {
    width: 50%;
    &:first-child {
      border-right: 1px solid #ddd;
    }
  }
}

.jcc-forms-filter__category-result {
  flex-grow: 1;
  box-sizing: border-box;

  a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #333;

    &:hover {
      text-decoration: underline;
    }
  }
}

.jcc-forms-filter__form-result {
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: none;
  }
}

.jcc-forms-filter__form-result-content {
  display: block;
  padding: 10px 20px;

  @media (min-width: 992px) {
    display: flex;
    align-items: center;
  }
}

.jcc-forms-filter__form-number-and-title {
  flex-grow: 1;
  text-decoration: none;
  margin-right: 20px;
  color: #333;
  cursor: pointer;

  .form-number {
    text-transform: uppercase;
    color: #333;
    font-size: 16px;
  }

  .form-title {
    color: #333;
  }

  &:hover {
    .form-title {
      text-decoration: underline;
    }
  }
}

.jcc-forms-filter__form-result-buttons {
  display: flex;
  margin-top: 10px;
  margin-bottom: 4px;

  @media (min-width: 992px) {
    flex: 0 0 290px;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.jcc-forms-filter__form-guide-button,
.jcc-forms-filter__download-form-button {
  white-space: nowrap;
  flex-grow: 1;
  width: 50%;
  padding-left: 0px;
  padding-right: 0px;

  @media (min-width: 992px) {
    width: auto;
  }
}

.jcc-forms-filter__form-guide-button {
  margin-right: 14px;
}

.jcc-forms-filter__download-form-button {
  margin-right: 0px;
}

.jcc-forms-filter__form-links {
  display: none;
  padding: 4px 20px 10px 20px;

  &.visible {
    display: block;
  }
}

.jcc-forms-filter__mobile-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2000;
  background: white;
  overflow-y: scroll;
  display: none;

  @media (min-width: 992px) {
    display: none;
  }

  .jcc-forms-filter__results-container {
    margin-top: 0px;
  }
}